body {
  background: url(Gray.jpg);
  background-size: 350%;
}

.thumbnail > img { 
  height: 200px;
  margin-top: 20px;
}

h1 {
	color: gray;
	font-weight: bold;
	margin-top: 40px;
}

h2 {
	color: gray;
	margin-bottom: 40px;
}